In [2]:
import duckdb
import	pandas as pd
import os
from datetime import datetime

In [99]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [1]:
arquivo = 'z250535_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep =';')
df['data_ingestao'] = data_ingestao
df['arquivo'] = arquivo
df.head()

NameError: name 'datetime' is not defined

In [101]:
con.execute("""
CREATE TABLE IF NOT EXISTS bronze_produtos(
Number VARCHAR,
Material VARCHAR,
Quantity VARCHAR,
Price VARCHAR,
Marca VARCHAR,
arquivo VARCHAR,
data_ingestao TIMESTAMP
)
            """)

In [91]:
# Select only the columns that match the table schema
df_to_insert = df[['Number', 'Material', 'Quantity', 'Price', 'arquivo', 'data_ingestao']]

# Insert the filtered DataFrame into the table
con.execute("INSERT INTO bronze_produtos SELECT * FROM df_to_insert")

In [106]:
resultado = con.execute("SELECT * FROM bronze_z002025").fetchdf()
resultado.head(15)

   Number  Material Quantity Price        arquivo              data_ingestao
0     101     Steel      100    50  z250535_1.csv 2025-05-15 08:49:57.556141
1     202  Aluminum      200    30  z250535_1.csv 2025-05-15 08:49:57.556141
2     303   Plastic      300    20  z250535_1.csv 2025-05-15 08:49:57.556141
3     404      Wood      400    10  z250535_1.csv 2025-05-15 08:49:57.556141
4     101     Steel      100    50  z250535_1.csv 2025-05-15 08:49:57.556141
5     202  Aluminum      200    30  z250535_1.csv 2025-05-15 08:49:57.556141
6     303   Plastic      300    20  z250535_1.csv 2025-05-15 08:49:57.556141
7     404      Wood      400    10  z250535_1.csv 2025-05-15 08:49:57.556141
8     101     Steel      100    50  z250535_1.csv 2025-05-15 09:14:01.003792
9     202  Aluminum      200    30  z250535_1.csv 2025-05-15 09:14:01.003792
10    303   Plastic      300    20  z250535_1.csv 2025-05-15 09:14:01.003792
11    404      Wood      400    10  z250535_1.csv 2025-05-15 09:14:01.003792
12    101     Steel      100    50  z250535_2.csv 2025-05-15 09:25:35.678889
13    202  Aluminum      200    30  z250535_2.csv 2025-05-15 09:25:35.678889
14    303   Plastic      300    20  z250535_2.csv 2025-05-15 09:25:35.678889

In [104]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z002025")

In [108]:
con.close()